button{
    padding: 0;
}
a{
	text-decoration:none;
	outline: 0;
}

table {
    table-layout: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

#AccInfoDiv{
	position: absolute; 
	left:10px;
	top:10px;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	background: -webkit-linear-gradient(-90deg, #fff, #cfc);
	background: -o-linear-gradient(-90deg, #fff, #cfc);
	background: -moz-linear-gradient(-90deg, #fff, #cfc);
	background: linear-gradient(-90deg, #fff, #cfc);	
	opacity:0.8;
}
#AccInfoDiv:hover{
	opacity:1;
}
#ChngInfoDiv{
	position: absolute; 
	left:10px;
	top:10px;
	display:none;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	background: -webkit-linear-gradient(-90deg, #fff, #ddf);
	background: -o-linear-gradient(-90deg, #fff, #ddf);
	background: -moz-linear-gradient(-90deg, #fff, #ddf);
	background: linear-gradient(-90deg, #fff, #ddf);	
	opacity:0.8;
}
#ChngInfoDiv:hover{
	opacity:1;
}

input:focus {
  background: #ffc;
}
#AdminDiv{
	position: absolute;
	top:10px;
	right:230px;
	padding:5px 20px;
	border:1px solid #000;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	background: -webkit-linear-gradient(-90deg, #fff, #ddf);
	background: -o-linear-gradient(-90deg, #fff, #ddf);
	background: -moz-linear-gradient(-90deg, #fff, #ddf);
	background: linear-gradient(-90deg, #fff, #ddf);	
	opacity:0.8;
}
#AdminDiv:hover{
	opacity:1;
}

#UsersDiv{
	position: absolute;
	top:10px;
	right:10px;
	height:465px;
	overflow: hidden;
	padding:5px 10px;
	border:1px solid #000;
	font-size:12px;
	font-family:arial;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	background: -webkit-linear-gradient(-90deg, #fff, #cfc);
	background: -o-linear-gradient(-90deg, #fff, #cfc);
	background: -moz-linear-gradient(-90deg, #fff, #cfc);
	background: linear-gradient(-90deg, #fff, #cfc);	
	opacity:0.8;
}
#UsersDiv:hover{
	opacity:1;
}
#UserDivCont{
	font-size:12px;
	font-family:arial;
	position: absolute;
	top:30px;
	left:5px;	
	right:5px;
	height:435px;
	overflow-y: auto;
}
#UsersDiv td{
		border: 1px dotted transparent;
}
#UsersDiv td:hover{
		border: 1px dotted #000;
		background-color: #ffc;
}

#VoteDiv{
	position: absolute;
	top:1px;
	left:360px;
	width:200px;
	padding:5px 20px;
	border:1px solid #000;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	background: -webkit-linear-gradient(-90deg, #fff, #ddf);
	background: -o-linear-gradient(-90deg, #fff, #ddf);
	background: -moz-linear-gradient(-90deg, #fff, #ddf);
	background: linear-gradient(-90deg, #fff, #ddf);
	opacity:0.8;
}

#VoteDiv:hover{
	opacity:1;
}

body, html{
	text-shadow: 1px 1px 2px #aaa;
}

#BodyCont{
	position: absolute;
	top: 50px;
	bottom: 1px;
	width: 100%;
	height: 100%;
}

#BckgrndImg{
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index:-1;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-image: url("../images/background1.jpg");
}

#ExchangeDiv{
	position: absolute;
	top:110px;
	left:330px;
	background-color: #fff;
	width:220px;
	padding:5px 20px;
	border:1px solid #000;
	-moz-box-shadow: 10px 10px 14px -7px #777;
	-webkit-box-shadow: 10px 10px 14px -7px #777;
	box-shadow: 10px 10px 14px -7px #777;
	z-index:2;
}

#VTab1 table td:nth-child(1){
	width:80px;
}
#VTab1 table td:nth-child(2){
	width:160px;
}
#VTab1 table td:nth-child(3){
	width:70px;
}
#VTab1 table td:nth-child(4){
	width:170px;
}
#VTab2 table td:nth-child(1){
	width:90px;
}
#VTab3 table td:nth-child(1){
	width:80px;
}