a{
	text-decoration:none;
}
a:hover{
   color: #000033;
   text-shadow: 5px 5px 10px #003;
}
body{
   text-shadow: 5px 5px 10px #555;
}

input:not([type="checkbox"]):not([type="radio"]):not([name="answer"]) {
	width: 200px;
}

.absolute-center {
	position: fixed;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-box {
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	padding: 32px;
	display:inline-block;
	background: rgba(0,0,0,0.5);
	margin: auto;
	border-radius: 16px;
	max-width:980px;
	width: 100%;
	margin-top: 64px;
	color: white;
	box-sizing: border-box;
}

.form-label {
	text-shadow: 2px 2px 5px #000, 0px 0px 1px #000;
	color:#fff;
}

.tooltip {
	display: block;
	text-align: center;
	padding: 6px;
	width: 14px;
	height: 14px;
	color: white;
	background-color: rgba(0,0,255,0.2);
	border: 1px solid rgba(0,0,255,0.4);
	border-radius: 50%;
	margin: 0 6px;
	cursor: pointer;
	font-size: 16px;
	font-family: arial;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
	transition: 0.3s;
}

.tooltip:hover {
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
}

td {
	padding-top: 6px;
}

.toggle-password-btn {
	right: 3px;
	top: -2px;
	opacity: 0.5;
	transition: 0.3s;
}

.toggle-password-btn:hover {
	opacity: 1;
}

.page-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}