
.WindowHead_Light1{
	display: inline-block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 1px;
	height: 25px;
	left: 1px;
	right: 1px;	
	background-color: #337;
	line-height: 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #fff;
	text-align:center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}
.WindowHead_Light2{
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	height: 20px;
	border: 1px solid #000;
	padding: 2px 10px;
	line-height:20px;
	font-size:16px;
	vertical-align: middle;
	text-align:center;
	text-shadow: 1px 1px 2px #000, 0px 0px 1px #000; 
	color:#fff;
	background-color: #fff;
	background: -webkit-linear-gradient(-90deg, #88d, #337);
	background: -o-linear-gradient(-90deg, #88d, #337);
	background: -moz-linear-gradient(-90deg, #88d, #337);
	background: linear-gradient(-90deg, #88d, #337);
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}
.WindowClose_Light1{
	display: block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 1px;
	height: 23px;
	width: 23px;
	right: 1px;	
	background-color: #f44;
	line-height: 23px;
	font-size: 16px;
	vertical-align: middle;
	color: #fff;
	text-align:center;
	opacity: 0.7;
	border-radius: 2px;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}
.WindowClose_Light1:hover{
	cursor: pointer;
	opacity: 1;
}

.WindowCont_Light2{
	position: absolute;
	border: 1px solid #777;
	left: 1px;
	right: 1px;
	top: 25px;
	padding: 10px 20px;
	background-color: #fff;
	background: -webkit-linear-gradient(-90deg, #fff, #eef);
	background: -o-linear-gradient(-90deg, #fff, #eef);
	background: -moz-linear-gradient(-90deg, #fff, #eef);
	background: linear-gradient(-90deg, #fff, #eef);
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}

.WindowFoot_Light1{
	display: inline;
	position: absolute;
	padding: 0px;
	margin: 0px;
	bottom: 1px;
	height: 25px;
	left: 1px;
	right: 1px;	
	line-height: 25px;
	font-size: 16px;
	vertical-align: middle;
	text-align:center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}

.WindowHead_Light3{
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	height: 20px;
	border: 1px solid #000;
	padding: 2px 10px;
	line-height:20px;
	font-size:14px;
	vertical-align: middle;
	text-align:center;
	text-shadow: 1px 1px 2px #000, 0px 0px 1px #000; 
	color:#fff;
	background-color: #fff;
	background: -webkit-linear-gradient(-90deg, #888, #333);
	background: -o-linear-gradient(-90deg, #88d, #337);
	background: -moz-linear-gradient(-90deg, #88d, #337);
	background: linear-gradient(-90deg, #888, #333);
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}

.WindowCont_Dark1{
	position: absolute;
	padding: 0px;
	margin: 10px;
	top: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #eee;
}

.WindowHead_Dark1{
	display: inline-block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 1px;
	height: 25px;
	left: 1px;
	right: 1px;	
	background: -moz-linear-gradient(#292929, #252525);
	background: -ms-linear-gradient(#292929, #252525);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
	background: -webkit-linear-gradient(#292929, #252525);
	background: -o-linear-gradient(#292929, #252525);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
	background: linear-gradient(#292929, #252525);
	line-height: 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #777;
	text-align:center;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
.WindowClose_Dark1{
	display: block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 1px;
	height: 23px;
	width: 23px;
	right: 1px;	
	background-color: #f44;
	line-height: 23px;
	font-size: 16px;
	vertical-align: middle;
	color: #fff;
	text-align:center;
	opacity: 0.7;
	border-radius: 2px;
	text-shadow: 0px 0px #000;
}
.WindowClose_Dark1:hover{
	cursor: pointer;
	opacity: 1;
}

.WindowFoot_Dark1{
	display: inline;
	position: absolute;
	padding: 0px;
	margin: 0px;
	bottom: 1px;
	height: 25px;
	left: 1px;
	right: 1px;	
	line-height: 25px;
	font-size: 16px;
	vertical-align: middle;
	text-align:center;
}

