.border { border-width: 1px;}
.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-double { border-style: double; }
.border-hidden { border-style: hidden; }
.border-none { border-style: none; }
.flex {	display: flex; }	
.p-2 { padding: 0.5rem;	}
.p-4 { padding: 1rem;	}
.p-6 { padding: 1.5rem;	}
.justify-center { justify-content: center; }
.mx-auto { margin: auto; }
.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }
.gap-6 { gap: 1.5rem; }
.gap-8 { gap: 2rem; }
.rounded { border-radius: 0.5rem; }
.flex-wrap { flex-wrap: wrap; }
.flex-col { flex-direction: column; }
.text-center { text-align: center; }
.font-bold { font-weight: bold; }
.my-0 {	margin-top: 0; margin-bottom: 0; }
.my-auto {	margin-top: auto; margin-bottom: auto; }
.mx-auto {	margin-left: auto; margin-right: auto; }
.border-current { border-color: currentColor; }
.border-transparent { border-color: transparent; }
.border-black{ border-color: rgb(0 0 0); }
.border-white { border-color: rgb(255 255 255); }
.border-slate-50 { border-color: rgb(248 250 252); }
.border-slate-100 { border-color: rgb(241 245 249); }
.border-slate-200 { border-color: rgb(226 232 240); }
.border-slate-300 { border-color: rgb(203 213 225); }
.border-slate-400 { border-color: rgb(148 163 184); }
.border-slate-500 { border-color: rgb(100 116 139); }
.border-slate-600 { border-color: rgb(71 85 105); }
.border-slate-700 { border-color: rgb(51 65 85); }
.border-slate-800 { border-color: rgb(30 41 59); }
.border-slate-900 { border-color: rgb(15 23 42); }
.border-slate-950 { border-color: rgb(2 6 23); }
.rounded-none { border-radius: 0px; }
.rounded-sm { border-radius: 0.125rem; }
.rounded { border-radius: 0.25rem; }
.rounded-md { border-radius: 0.375rem; }
.rounded-lg { border-radius: 0.5rem; }
.rounded-xl { border-radius: 0.75rem; }
.rounded-2xl{ border-radius: 1rem; } 
.rounded-3xl { border-radius: 1.5rem; }
.rounded-full { border-radius: 9999px; }
.w-0 { width: 0px; }
.w-px { width: 1px; }
.w-0.5 { width: 0.125rem; }
.w-1 { width: 0.25rem; }
.w-1.5 { width: 0.375rem; }
.w-2 { width: 0.5rem; }
.w-2.5 { width: 0.625rem; }
.w-3 { width: 0.75rem; }
.w-3.5 { width: 0.875rem; }
.w-4 { width: 1rem; }
.w-5 { width: 1.25rem; }
.w-6 { width: 1.5rem; }
.w-7 { width: 1.75rem; }
.w-8 { width: 2rem; }
.w-9 { width: 2.25rem; }
.w-10 { width: 2.5rem; }
.w-11 { width: 2.75rem; }
.w-12 { width: 3rem; }
.w-14 { width: 3.5rem; }
.w-16 { width: 4rem; }
.w-20 { width: 5rem; }
.w-24 { width: 6rem; }
.w-28 { width: 7rem; }
.w-32 { width: 8rem; }
.w-36 { width: 9rem; }
.w-40 { width: 10rem; }
.w-44 { width: 11rem; }
.w-48 { width: 12rem; }
.w-52 { width: 13rem; }
.w-56 { width: 14rem; }
.w-60 { width: 15rem; }
.w-64 { width: 16rem; }
.w-72 { width: 18rem; }
.w-80 { width: 20rem; }
.w-96 { width: 24rem; }
.h-0 { height: 0px; }
.h-px { height: 1px; }
.h-0.5 { height: 0.125rem; }
.h-1 { height: 0.25rem; }
.h-1.5 { height: 0.375rem; }
.h-2 { height: 0.5rem; }
.h-2.5 { height: 0.625rem; }
.h-3 { height: 0.75rem; }
.h-3.5 { height: 0.875rem; }
.h-4 { height: 1rem; }
.h-5 { height: 1.25rem; }
.h-6 { height: 1.5rem; }
.h-7 { height: 1.75rem; }
.h-8 { height: 2rem; }
.h-9 { height: 2.25rem; }
.h-10 { height: 2.5rem; }
.h-11 { height: 2.75rem; }
.h-12 { height: 3rem; }
.h-14 { height: 3.5rem; }
.h-16 { height: 4rem; }
.h-20 { height: 5rem; }
.h-24 { height: 6rem; }
.h-28 { height: 7rem; }
.h-32 { height: 8rem; }
.h-36 { height: 9rem; }
.h-40 { height: 10rem; }
.h-44 { height: 11rem; }
.h-48 { height: 12rem; }
.h-52 { height: 13rem; }
.h-56 { height: 14rem; }
.h-60 { height: 15rem; }
.h-64 { height: 16rem; }
.h-72 { height: 18rem; }
.h-80 { height: 20rem; }
.h-96 { height: 24rem; }
.cursor-pointer { cursor: pointer; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.relative { position: relative; }
.absolute { position: absolute; }
.font-base { font-size:14px; }
.text-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}
.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}
.text-base {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}
.text-lg {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}
.text-xl {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}
.text-2xl {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}
.text-3xl {
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
}
.text-4xl {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */
}
.text-5xl {
	font-size: 3rem; /* 48px */
	line-height: 1;
}
.text-6xl {
	font-size: 3.75rem; /* 60px */
	line-height: 1;
}
.text-7xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}
.text-8xl {
	font-size: 6rem; /* 96px */
	line-height: 1;
}
.text-9xl {
	font-size: 8rem;
	line-height: 1;
}